.reports_history table {
  width: 100%;
  border-collapse: collapse; }
.reports_history tr:nth-of-type(odd) {
  background: #eee; }
.reports_history th {
  background: #e8edec;
  color: #81aeac; }
.reports_history td, .reports_history th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center; }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #reports_table {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
    /*
    Label the data
    */ }
    #reports_table table, #reports_table thead, #reports_table tbody, #reports_table th, #reports_table td, #reports_table tr {
      display: block; }
    #reports_table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    #reports_table tr {
      border: 1px solid #ccc; }
    #reports_table td, #reports_table th {
      text-align: left !important; }
    #reports_table td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative; }
    #reports_table td:before {
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      display: inline-block; }
    #reports_table td:nth-of-type(1):before {
      content: "Project"; }
    #reports_table td:nth-of-type(2):before {
      content: "Created"; }
    #reports_table td:nth-of-type(3):before {
      content: "Date report"; }
    #reports_table td:nth-of-type(4):before {
      content: "Start"; }
    #reports_table td:nth-of-type(5):before {
      content: "End"; }
    #reports_table td:nth-of-type(6):before {
      content: "Duration"; }
    #reports_table td:nth-of-type(7):before {
      content: "Comment"; }
    #reports_table td:nth-of-type(8):before {
      content: ""; } }
.time_container img {
  width: 50%;
  margin: 0 auto;
  display: block; }

.line {
  display: none; }

@media (max-width: 760px) {
  #daily_chart {
    display: none; }

  #about-link {
    display: none !important; }

  .time_container {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px; }

  .line {
    display: block; } }
.hours {
  font-weight: bold;
  font-size: 60px;
  color: black;
  padding-top: 15px; }

.button_task_nav {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: .7;
  display: block; }
  .button_task_nav:hover {
    opacity: 1; }

/*
.stop_task{
    background-image: url("../images/stop30.svg");
  }
*/
/*.start_task{
  background-image: url("../images/small31.svg");
}*/
.pause_task {
  margin-right: 5px; }

.edit_button {
  background-image: url("../images/edit_cion.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer; }

.delete_button {
  background-image: url("../images/delete_icon.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer; }

.svg {
  height: 33px;
  width: 33px; }
  .svg path, .svg rect {
    fill: #8ebebc !important; }

.non_float_li {
  float: none;
  display: block !important;
  line-height: 22px; }

.task_description {
  font-size: 16px;
  margin-bottom: 35px;
  color: rgba(240, 128, 128, 0.5); }

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0; }

.paginate {
  position: relative;
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  margin-top: -20px;
  -webkit-filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.2)); }
  .paginate i {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50px;
    height: 5px;
    border-radius: 2.5px;
    background: #9ececc;
    transition: all 0.15s ease; }
  .paginate.left i {
    transform-origin: 0% 50%; }
  .paginate.left i:first-child {
    transform: translate(0, -1px) rotate(40deg); }
  .paginate.left i:last-child {
    transform: translate(0, 1px) rotate(-40deg); }
  .paginate.left:hover i:first-child {
    transform: translate(0, -1px) rotate(30deg); }
  .paginate.left:hover i:last-child {
    transform: translate(0, 1px) rotate(-30deg); }
  .paginate.left:active i:first-child {
    transform: translate(1px, -1px) rotate(25deg); }
  .paginate.left:active i:last-child {
    transform: translate(1px, 1px) rotate(-25deg); }
  .paginate.left[data-state=disabled] i:first-child {
    transform: translate(-5px, 0) rotate(0deg); }
  .paginate.left[data-state=disabled] i:last-child {
    transform: translate(-5px, 0) rotate(0deg); }
  .paginate.left[data-state=disabled]:hover i:first-child {
    transform: translate(-5px, 0) rotate(0deg); }
  .paginate.left[data-state=disabled]:hover i:last-child {
    transform: translate(-5px, 0) rotate(0deg); }
  .paginate.right i {
    transform-origin: 100% 50%; }
  .paginate.right i:first-child {
    transform: translate(0, 1px) rotate(40deg); }
  .paginate.right i:last-child {
    transform: translate(0, -1px) rotate(-40deg); }
  .paginate.right:hover i:first-child {
    transform: translate(0, 1px) rotate(30deg); }
  .paginate.right:hover i:last-child {
    transform: translate(0, -1px) rotate(-30deg); }
  .paginate.right:active i:first-child {
    transform: translate(1px, 1px) rotate(25deg); }
  .paginate.right:active i:last-child {
    transform: translate(1px, -1px) rotate(-25deg); }
  .paginate.right[data-state=disabled] i:first-child {
    transform: translate(5px, 0) rotate(0deg); }
  .paginate.right[data-state=disabled] i:last-child {
    transform: translate(5px, 0) rotate(0deg); }
  .paginate.right[data-state=disabled]:hover i:first-child {
    transform: translate(5px, 0) rotate(0deg); }
  .paginate.right[data-state=disabled]:hover i:last-child {
    transform: translate(5px, 0) rotate(0deg); }
  .paginate[data-state=disabled] {
    opacity: 0.3;
    cursor: default; }

.counter {
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  color: #9ececc; }

table td {
  font-size: 16px;
  text-align: center !important; }

table th, table input, table select {
  text-align: center !important; }

.daterangepicker {
  display: none;
  font-size: 12px; }
  .daterangepicker td {
    min-width: 24px !important;
    line-height: 20px; }
  .daterangepicker .applyBtn {
    border: 2px solid #81aeac; }

.input_in_table {
  position: relative;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  border-radius: 0.35em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

th input, th select {
  font-size: 16px; }
