<div class="container">
    <div class="jumbotron login_block">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-lg-2 col-lg-offset-5">
                <img class="img-responsive center-block" src="http://cdn2.hubspot.net/hub/21795/file-462065521-png/general-icons-56.png?t=1430490785779">
            </div>
        </div>
        <h4 class="text-center">Please use your google account for login:</h4>
        <button class="login_button center-block"><i class="fa fa-google-plus-square"></i></button>
    </div>
</div>